[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
librosa = "*"
matplotlib = "*"
scipy = "*"
numpy = "*"
tensorflow = "==2.4.0"
sklearn = "*"
keras = "*"
ipython = "*"
seaborn = "*"
h5py = "*"

[dev-packages]

[requires]
python_version = "3.8"
